@import "colours";

// ===== DOCUMENT PROPERTIES ===== //
body {
    background-color: $primary-1;
    color: $primary-5; 
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    // overflow-y: hidden;
    padding: 0;
    width: 100vw;
}

// ===== LANDING PAGE ===== //
.landing {
    min-height: 100%;
    min-width: 100%;

    &-container {
        display: inline-block;
        min-height: 100%;
        min-width: 100%;

        &-video {
            background-size: cover;
            position: absolute;
            right: 0;
            bottom: 0;
            min-height: 100%;
            min-width: 100%;
            z-index: -1;
        }
    
        &-overlay {
            background-color: rgba(0,0,0, 0.8);
            display: grid;
            grid-template-columns: 10vw 10vw 1fr 10vw 10vw;
            grid-template-rows: 10vh 10vh 1fr 10vh 10vh;
            left: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            z-index: 999;
        }
    }
}

.navbar {
    
    width: 100%;

    &-left {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    &-right {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 5 / 6;
        grid-row: 2 / 5;
    }

    &-icons {
        align-content: center;
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 30%;
        transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
        width: 100%;

        &-icon {
            height: 40px;
            width: 40px;
        }

        &-label {
            margin-bottom: 10px;
            margin-top: 10px;
            visibility: hidden;
        }

        &:hover {
            opacity: 100%;
        }

        &:hover > &-icon {
            transform: scale(1.2);
        }

        &:hover > &-label {
            color: rgb(255,255,255);
            visibility: visible;
        }
    }
}

.restore {
    display: none;
}

.terminal {
    background-color: rgba(0,0,0,0.9);
    border: 1px solid rgb(255, 255, 255);
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    &-about {
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid rgb(0,0,0);
        color: rgb(0,0,0);
        display: none;
        grid-column: 2 / 5;
        grid-row: 2 / 5;

        &-content {
            font-family: 'Lato', sans-serif;
        }
    }

    &-contact {
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid rgb(0,0,0);
        color: rgb(0,0,0);
        display: none;
        grid-column: 2 / 5;
        grid-row: 2 / 5;

        &-content {
            font-family: 'Lato', sans-serif;
        }
    }

    &-home {
        background-color: rgba(0,0,0,0.9);
        border: 1px solid rgb(255, 255, 255);
        display: none;
        grid-column: 3 / 4;
        grid-row: 3 / 4;

        &-content {
            font-family: 'Courier New', Courier, monospace;
        }

    }

    &-portfolio {
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid rgb(0,0,0);
        color: rgb(0,0,0);
        grid-column: 2 / 5;
        grid-row: 2 / 5;

        &-content {
            font-family: 'Lato', sans-serif;
        }
    }

    &-topbar {
        background-color: rgb(255, 255, 255);
        color: #000;
        cursor: default;
        display: flex;
        font-size: 1.5rem;
        height: 1.8rem;
        justify-content: space-between;
        letter-spacing: 2px;
        width: 100%;

        &-controls {
            cursor: pointer;

            &:hover {
                background-color: $primary-1;
                color: $primary-5;
            }
        }

    }

    &-content {
        font-family: 'Courier New', Courier, monospace;
        height: 100%;
        overflow-y: scroll;
    }
}

.minimise_bar {
    align-items: flex-end;
    display: flex;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
}