body {
  background-color: #0B132B;
  color: #6FFFE9;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

.landing {
  min-height: 100%;
  min-width: 100%;
}

.landing-container {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
}

.landing-container-video {
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.landing-container-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 10vw 1fr 10vw 10vw;
      grid-template-columns: 10vw 10vw 1fr 10vw 10vw;
  -ms-grid-rows: 10vh 10vh 1fr 10vh 10vh;
      grid-template-rows: 10vh 10vh 1fr 10vh 10vh;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}

.navbar {
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restore {
  display: none;
}

.terminal {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.terminal-about {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  color: black;
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.terminal-about-content {
  font-family: 'Lato', sans-serif;
}

.terminal-contact {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  color: black;
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.terminal-contact-content {
  font-family: 'Lato', sans-serif;
}

.terminal-home {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  display: none;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.terminal-home-content {
  font-family: 'Courier New', Courier, monospace;
}

.terminal-portfolio {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  color: black;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.terminal-portfolio-content {
  font-family: 'Lato', sans-serif;
}

.terminal-topbar {
  background-color: white;
  color: #000;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  height: 1.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 2px;
  width: 100%;
}

.terminal-topbar-controls {
  cursor: pointer;
}

.terminal-topbar-controls:hover {
  background-color: #0B132B;
  color: #6FFFE9;
}

.terminal-text {
  font-family: 'Courier New', Courier, monospace;
}

.minimise_bar {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1 / -1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}
/*# sourceMappingURL=styles.css.map */