body {
  background-color: #0B132B;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
}

.landing {
  min-height: 100%;
  min-width: 100%;
}

.landing-container {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
}

.landing-container-video {
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

.landing-container-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}

@media screen and (min-width: 690px) {
  .landing-container-overlay {
    -ms-grid-columns: 10vw 1fr 10vw;
        grid-template-columns: 10vw 1fr 10vw;
    -ms-grid-rows: 10vh 1fr 10vh;
        grid-template-rows: 10vh 1fr 10vh;
  }
}

@media screen and (max-width: 690px) {
  .landing-container-overlay {
    -ms-grid-columns: 5vw 1fr 1fr 5vw;
        grid-template-columns: 5vw 1fr 1fr 5vw;
    -ms-grid-rows: 5vh 10vh 1fr 5vh;
        grid-template-rows: 5vh 10vh 1fr 5vh;
  }
}

.navbar {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 690px) {
  .navbar {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 690px) {
  .navbar {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 690px) {
  .navbar-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 690px) {
  .navbar-left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 690px) {
  .navbar-right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

@media screen and (max-width: 690px) {
  .navbar-right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

.navbar-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 20%;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-transition: opacity 0.4s, visibility 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, visibility 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s, -webkit-transform 0.4s;
  width: 100%;
}

.navbar-icons-icon {
  height: 40px;
  width: 40px;
}

.navbar-icons-label {
  margin-top: 5px;
  visibility: hidden;
}

.navbar-icons:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 100%;
}

.navbar-icons:active, .navbar-icons:focus {
  background-color: #0B132B;
  -webkit-transform: scale(0.9) translateY(3px);
          transform: scale(0.9) translateY(3px);
}

.navbar-icons:hover > .navbar-icons-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-icons:hover > .navbar-icons-label {
  color: white;
  visibility: visible;
}

@media screen and (max-width: 690px) {
  .minimise {
    display: none !important;
  }
}

@media screen and (max-width: 690px) {
  .maximise {
    display: none !important;
  }
}

.restore {
  display: none;
}

@media screen and (max-width: 690px) {
  .restore {
    display: none !important;
  }
}

.close {
  background-color: #dc3545;
}

.close:hover {
  background-color: #66121a !important;
}

.no_windows {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6c757d;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 690px) {
  .no_windows {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 690px) {
  .no_windows {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.terminal {
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  font-family: 'Lato', sans-serif;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1.8rem 1fr;
      grid-template-rows: 1.8rem 1fr;
  overflow-y: hidden;
  z-index: 5000;
}

@media screen and (min-width: 690px) {
  .terminal {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 690px) {
  .terminal {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.terminal-home {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  color: #6FFFE9;
  display: -ms-grid;
  display: grid;
}

.terminal-home-content {
  font-family: 'Courier New', Courier, monospace;
}

.terminal-topbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #6c757d;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 2px;
}

.terminal-topbar__dark {
  background-color: black;
  border: 1px solid white;
}

.terminal-topbar-controls {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.terminal-topbar-controls-control {
  padding-left: 5px;
  padding-right: 5px;
}

.terminal-topbar-controls-control:hover {
  background-color: #0B132B;
  color: #6FFFE9;
}

.terminal-topbar-controls-control:active, .terminal-topbar-controls-control:focus {
  background-color: #2a49a5;
  -webkit-transform: scale(0.9) translateY(3px);
          transform: scale(0.9) translateY(3px);
}

.terminal-topbar-text {
  font-size: 0.8rem;
  padding-left: 10px;
}

.terminal-content {
  max-height: 100%;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  overflow-y: scroll;
}

@media screen and (min-width: 690px) {
  .minimise_bar {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 690px) {
  .minimise_bar {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */