body {
  background-color: #0B132B;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.landing {
  min-height: 100%;
  min-width: 100%;
}

.landing-container {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
}

.landing-container-video {
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

.landing-container-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media screen and (min-width: 690px) {
  .landing-container-overlay {
    -ms-grid-columns: 10vw 1fr 10vw;
        grid-template-columns: 10vw 1fr 10vw;
    -ms-grid-rows: 10vh 1fr 10vh;
        grid-template-rows: 10vh 1fr 10vh;
  }
}

@media screen and (max-width: 690px) {
  .landing-container-overlay {
    -ms-grid-columns: 5vw 1fr 1fr 5vw;
        grid-template-columns: 5vw 1fr 1fr 5vw;
    -ms-grid-rows: 5vh 10vh 1fr 5vh;
        grid-template-rows: 5vh 10vh 1fr 5vh;
  }
}

.navbar {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 690px) {
  .navbar {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 690px) {
  .navbar {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 690px) {
  .navbar-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 690px) {
  .navbar-left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 690px) {
  .navbar-right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

@media screen and (max-width: 690px) {
  .navbar-right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

.navbar-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 20%;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-transition: opacity 0.4s, visibility 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, visibility 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s, -webkit-transform 0.4s;
  width: 100%;
}

.navbar-icons-icon {
  height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 40px;
}

.navbar-icons-label {
  color: white;
  margin-top: 5px;
  opacity: 0%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-icons-selected {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 100%;
}

.navbar-icons:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 100%;
}

.navbar-icons:active, .navbar-icons:focus {
  background-color: #0B132B;
  opacity: 60%;
  -webkit-transform: scale(0.9) translateY(3px);
          transform: scale(0.9) translateY(3px);
}

.navbar-icons:hover > .navbar-icons-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-icons:hover > .navbar-icons-label {
  opacity: 100%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media screen and (max-width: 690px) {
  .minimise {
    display: none !important;
  }
}

@media screen and (max-width: 690px) {
  .maximise {
    display: none !important;
  }
}

.restore {
  display: none;
}

@media screen and (max-width: 690px) {
  .restore {
    display: none !important;
  }
}

.close {
  background-color: #dc3545;
}

.close:hover {
  background-color: #66121a !important;
}

.no_windows {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6c757d;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 690px) {
  .no_windows {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 690px) {
  .no_windows {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.terminal {
  background-color: rgba(255, 255, 255, 0.98);
  display: none;
  font-family: 'Lato', sans-serif;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1.8rem 1fr;
      grid-template-rows: 1.8rem 1fr;
  overflow-y: hidden;
  z-index: 2;
}

@media screen and (min-width: 690px) {
  .terminal {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 690px) {
  .terminal {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.terminal-about-content {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 550px) {
  .terminal-about-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .terminal-about-content {
    display: block;
  }
}

.terminal-about-content-left {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 550px) {
  .terminal-about-content-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-bottom: 60px;
    overflow-y: scroll;
  }
}

.terminal-about-content-left-heading {
  margin-bottom: 10px;
  text-align: center;
}

.terminal-about-content-left-paragraph {
  margin-bottom: 10px;
  text-align: center;
}

.terminal-about-content-left-presenttech {
  margin-bottom: 10px;
}

.terminal-about-content-left-presenttech-skill {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
  background-color: #6FFFE9;
  width: 100%;
}

.terminal-about-content-left-presenttech-skill-amount {
  background-color: #bcfff5;
}

.terminal-about-content-left-presenttech-skill-label {
  background-color: #00a289;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.terminal-about-content-left-presenttech-skill-percent {
  background-color: #bcc1c6;
}

.terminal-about-content-left-presenttech-skill-percentage {
  background-color: white;
  color: #6c757d;
  text-align: right;
  width: 60px;
}

.terminal-about-content-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 550px) {
  .terminal-about-content-right {
    border-left: 2px solid #6c757d;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    height: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 550px) {
  .terminal-about-content-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.terminal-about-content-right-languages {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 550px) {
  .terminal-about-content-right-languages {
    margin-bottom: 80px;
    margin-top: 20px;
  }
}

.terminal-about-content-right-languages-img {
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
}

.terminal-about-content-right-location {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.terminal-about-content-right-location-img {
  height: 30px;
  padding-top: 10px;
  width: 30px;
}

.terminal-contact-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

.terminal-contact-content-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 690px) {
  .terminal-contact-content-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.terminal-contact-content-icons-email, .terminal-contact-content-icons-linkedin {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.terminal-contact-content-icons-icon {
  cursor: pointer;
  height: 100px;
  margin: 1rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100px;
}

.terminal-contact-content-icons-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.terminal-contact-content-icons-icon:hover + .terminal-contact-content-icons-icon-label {
  opacity: 100%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  z-index: 3;
}

.terminal-contact-content-icons-icon:active {
  opacity: 60%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.terminal-contact-content-icons-icon:active + .terminal-contact-content-icons-icon-label {
  opacity: 60%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.terminal-contact-content-icons-icon-label {
  opacity: 0%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.terminal-home {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  color: #6FFFE9;
  display: -ms-grid;
  display: grid;
}

.terminal-home-content {
  font-family: 'Courier New', Courier, monospace;
}

.terminal-portfolio-content {
  padding-bottom: 80px;
}

.terminal-portfolio-content-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5px;
  margin-top: 5px;
}

.terminal-portfolio-content-row {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.terminal-portfolio-content-row-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.terminal-portfolio-content-row-image-img {
  max-height: 100%;
  max-width: 100%;
}

.terminal-portfolio-content-row-even {
  background-color: #a2fff1;
}

.terminal-portfolio-content-row-odd {
  background-color: #3cffe1;
}

.terminal-portfolio-content-row-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.terminal-portfolio-content-row-text-title {
  text-transform: uppercase;
}

.terminal-topbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #6c757d;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: 800;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 2px;
}

.terminal-topbar__dark {
  background-color: black;
  border: 1px solid white;
}

.terminal-topbar-controls {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.terminal-topbar-controls-control {
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.terminal-topbar-controls-control:hover {
  background-color: #0B132B;
  color: #6FFFE9;
}

.terminal-topbar-controls-control:active, .terminal-topbar-controls-control:focus {
  background-color: #2a49a5;
  -webkit-transform: scale(0.9) translateY(3px);
          transform: scale(0.9) translateY(3px);
}

.terminal-topbar-text {
  font-size: 0.8rem;
  padding-left: 10px;
}

.terminal-content {
  max-height: 100%;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  overflow-y: scroll;
}

@media screen and (min-width: 690px) {
  .minimise_bar {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 690px) {
  .minimise_bar {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */