&-contact {
    &-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;

        &-icons {
            align-items: center;
            display: flex;
            flex-direction: row;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            justify-content: center;

            @media screen and (max-width: $mobile_width) { flex-direction: column; }

            &-email,
            &-linkedin {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &-icon {
                cursor: pointer;
                height: 100px;
                margin: 1rem;
                transition: transform 0.3s;
                width: 100px;

                &:hover {
                    @media screen and (min-width: $small_mobile_width) { transform: scale(1.2); }
                }
                &:hover + &-label {
                    @media screen and (min-width: $small_mobile_width) {
                        opacity: 100%;
                        transform: translateY(10px);
                        z-index: 3;
                    }
                }
                &:active {
                    opacity: 60%;
                    transform: scale(0.9);
                }
                &:active + &-label {
                    opacity: 60%;
                    transform: scale(0.9);
                }
                &-label {
                    opacity: 0%;
                    transform: translateY(-10px);
                    transition: transform 0.3s, opacity 0.3s;
                }
            }
        }
    }
}