&-home {
    background-color: rgba(0,0,0,0.9);
    border: 1px solid rgb(255, 255, 255);
    color: $primary-5;
    display: grid;

    &-content {

        font-family: $monospace_font, $monospace_font_fallback_1, $monospace_font_fallback_2;
        overflow-x: hidden;

        &-ascii {
            text-align: center;
        }

        &-input {
            background-color: rgb(5,5,5);
            border: none;
            caret-color: $primary-5;
            color: $primary-5;
            font-family: $monospace_font, $monospace_font_fallback_1, $monospace_font_fallback_2;
            font-size: inherit;
            outline: none;
            &:active,
            &:focus {
                border: none;
                outline: none;
            }
        }

        &-intro {
            color: $terminal-green;
        }

        &-operations {

            &-commands {

                &-command {
                    display: grid;
                    grid-template-columns: max-content auto;
                    grid-template-rows: 1fr;
                    width: 100%;
                    &-output {
                        color: $danger-red;
                    }
                    &-input {
                        grid-column: 1 / 2;
                        grid-row: 1 / -1;
                    }
                    &-output {
                        color: $terminal-green;
                    }
                    &-pre {
                        grid-column: 2 / 3;
                        grid-row: 1 / -1;
                        width: 100%;
                    }
                }
            }

            

            &-welcome {
                color: rgb(255, 255, 255);
                text-align: center;
            }
        }
    }

}