// ===== LANDING PAGE ===== //
.landing {
    min-height: 100%;
    min-width: 100%;

    &-container {
        display: inline-block;
        min-height: 100%;
        min-width: 100%;

        &-video {
            background-size: cover;
            position: absolute;
            right: 0;
            bottom: 0;
            min-height: 100%;
            min-width: 100%;
            z-index: -1;
        }
    
        &-overlay {
            @media screen and (min-width: $mobile_width) {
                grid-template-columns: 10vw 1fr 10vw;
                grid-template-rows: 10vh 1fr 10vh;
            }

            @media screen and (max-width: $mobile_width) {
                grid-template-columns: 5vw 1fr 1fr 5vw;
                grid-template-rows: 5vh 1fr minmax(min-content, 1fr) 5vh;
            }

            background-color: $black80;
            display: grid;
            left: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            z-index: 1;
        }
    }
}