// ===== NAVBAR & ICONS ===== //
.navbar {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: $mobile_width) { grid-row: 2 / 3; }
    @media screen and (max-width: $mobile_width) { grid-row: 3 / 4; }
    @media screen and (min-width: $mobile_width) { justify-content: center; }
    @media screen and (max-width: $mobile_width) { justify-content: flex-start; }

    &-left {
        @media screen and (min-width: $mobile_width) { grid-column: 1 / 2; }
        @media screen and (max-width: $mobile_width) { grid-column: 2 / 3; }
    }

    &-right {
        @media screen and (min-width: $mobile_width) { grid-column: 3 / 4; }
        @media screen and (max-width: $mobile_width) { grid-column: 3 / 4; }
    }

    &-icons {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: $navbar-icon-opacity;
        padding-bottom: $navbar-icon-padding;
        padding-top: $navbar-icon-padding;
        transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
        width: 100%;

        &-icon {
            height: $navbar-icon;
            transition: all 0.3s;
            width: $navbar-icon;
        }

        &-label {
            color: $white;
            margin-top: 5px;
            opacity: 0%;
            transform: translateY(-5px);
            transition: all 0.3s;
        }

        &-selected {
            background-color: $navbar-selected;
            opacity: 100%;
        }

        &:hover {
            @media screen and (min-width: $small_mobile_width) {
                background-color: $navbar-selected;
                opacity: 100%;
            }
        }

        &:active,
        &:focus {
            background-color: $primary-1;
            opacity: $navbar-icon-opacity;
            transform: scale(0.9)  translateY(3px);
        }

        &:hover > &-icon {
            @media screen and (min-width: $small_mobile_width) { transform: scale(1.2); }
        }

        &:hover > &-label {
            @media screen and (min-width: $small_mobile_width) {
                opacity: 100%;
                transform: translateY(5px);
            }
        }
    }
}