&-portfolio {

    height: 100%;

    &-content {
        
        height: 100%;

        &-header {
            align-items: center;
            display: flex;
            justify-content: space-around;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        &-row {

            &:hover {
                background-color: lighten($primary-5, 10%);
                transform: scale(1.05);
            }

            &:active,
            &:focus {
                background-color: darken($primary-5, 10%);
                transform: scale(0.9)  translateY(3px);
            }

            cursor: pointer;
            display: grid;
            grid-template-rows: 1fr;
            transition: all 0.3s;
            @media screen and (max-width: $mobile_width) {
                grid-template-columns: 40% 60%;
            }
            @media screen and (min-width: $mobile_width) {
                grid-template-columns: repeat(2, 1fr);
            }

            &-image {
                grid-column: 1 / 2;
                grid-row: 1 / -1;
                &-img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            &-even { background-color: lighten($grey, 60%); }
            &-odd { background-color: lighten($grey, 40%); }
            &-text {
                align-items: center;
                display: flex;
                flex-direction: column;
                grid-column: 2 / 3;
                grid-row: 1 / -1;
                justify-content: space-evenly;

                &-subtitle {
                    display: none;
                    font-weight: 400;
                    @media screen and (max-width: $mobile_width) { font-size: 1.1rem; }
                }

                &-title {
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    @media screen and (max-width: $mobile_width) { font-size: 1.1rem; }
                }

            }
        }
    }

    @import "_portfolio_modal";
}