&-portfolio {

    height: 100%;

    &-content {
        
        height: 100%;

        &-header {
            align-items: center;
            display: flex;
            justify-content: space-around;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        &-row {
            &:hover {
                background-color: lighten($primary-5, 10%);
            }
            &:active,
            &:focus {
                background-color: darken($primary-5, 10%);
                transform: scale(0.9)  translateY(3px);
            }
            cursor: pointer;
            display: grid;
            grid-template-columns: 50% 1fr;
            grid-template-rows: repeat(2, 1fr);
            transition: all 0.3s;
            &-image {
                grid-column: 1 / 2;
                grid-row: 1 / -1;
                &-img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            &-even { background-color: lighten($grey, 60%); }
            &-odd { background-color: lighten($grey, 40%); }
            &-text {
                align-items: center;
                display: flex;
                flex-direction: column;
                grid-column: 2 / 3;
                grid-row: 1 / -1;
                justify-content: space-evenly;
                &-title { text-transform: uppercase; }
            }
        }
    }

    &_modal {
        
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        &-content {
            align-items: center;
            display: flex;
            flex-direction: column;

            &-imagecontainer {
                max-height: 50vw;
                min-height: 50vw;
                max-width: 100%;
                min-width: 100%;
                position: relative;
                text-align: center;

                &-buttons {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    
                    &-button {
                        background-color: $grey;
                        color: rgb(255,255,255);
                        cursor: pointer;
                        font-size: 1rem;
                        padding: 15px;
                        transition: all 0.3s;
                        &:hover {
                            background-color: $primary-1;
                            color: $primary-5;
                        }
                        &:active,
                        &:focus {
                            background-color: darken($primary-1, 10%);
                            transform: scale(0.9)  translateY(3px);
                        }
                    }
                }

                &-image {
                    display: none;
                    height: 100%;
                    max-width: 100%;
                    object-fit: scale-down;
                    width: 100%;

                    &--active {
                        display: inline;
                    }

                }
            }

            &-longdesc {
                align-self: flex-start;
            }

            &-title { text-transform: uppercase; }
        }
    }
}