&-portfolio {
    &-content {
        padding-bottom: 80px;
        &-header {
            align-items: center;
            display: flex;
            justify-content: space-around;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        &-row {
            &:hover {
                background-color: $primary-5;
            }
            cursor: pointer;
            display: grid;
            grid-template-columns: 50% 1fr;
            grid-template-rows: repeat(2, 1fr);
            &-image {
                grid-column: 1 / 2;
                grid-row: 1 / -1;
                &-img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            &-even { background-color: lighten($grey, 60%); }
            &-odd { background-color: lighten($grey, 40%); }
            &-text {
                align-items: center;
                display: flex;
                flex-direction: column;
                grid-column: 2 / 3;
                grid-row: 1 / -1;
                justify-content: space-evenly;
                &-title { text-transform: uppercase; }
            }
        }
    }

    &_modal {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        &-content {
            align-items: center;
            display: flex;
            flex-direction: column;

            &-imagecontainer {
                height: 100%;
                position: relative;
                width: 100%;

                &-buttons {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    
                    &-button {
                        background-color: $grey;
                        color: rgb(255,255,255);
                        cursor: pointer;
                        font-size: 1rem;
                        padding: 15px;
                        &:hover {
                            background-color: $primary-1;
                            color: $primary-5;
                        }
                    }
                }

                &-image {
                    max-width: 100%;
                }
            }

            &-longdesc {
                align-self: flex-start;
            }

            &-title { text-transform: uppercase; }
        }
    }
}