// ===== WINDOWS ===== //
.terminal {
    // ===== GENERAL WINDOW STYLES ===== //
    @media screen and (min-width: $mobile_width) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    @media screen and (max-width: $mobile_width) {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
    background-color: rgba(255, 255, 255, 0.98);
    display: none;
    font-family: $default_font, $default_font_fallback;
    grid-template-columns: 1fr;
    grid-template-rows: $topbar-height 1fr;
    overflow-y: hidden;
    z-index: 2;

    // ===== GENERAL TOPBAR STYLES ===== //
    &-topbar {
        align-items: center;
        background-color: $white;
        color: $grey;
        display: flex;
        font-family: $monospace_font, $monospace_font_fallback_1, $monospace_font_fallback_2;
        font-size: 1.2rem;
        font-weight: 800;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        height: 100%;
        justify-content: space-between;
        letter-spacing: 2px;

        &__dark {
            background-color: $black;
            border: 1px solid $white;
        }

        &-controls {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;

            &-control {
                padding-left: 5px;
                padding-right: 5px;
                transition: transform 0.1s;

                &:hover {
                    background-color: $primary-1;
                    color: $primary-5;
                }
                &:active,
                &:focus {
                    background-color: lighten($primary-1, 30%);
                    transform: scale(0.9) translateY(3px);
                }

            }
        }

        &-text {
            font-size: 0.8rem;
            padding-left: 10px;
        }

    }

    // ===== GENERAL CONTENT STYLES ===== //
    &-content {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        height: 100%;
        overflow-y: auto;
    }

    // ===== INDIVIDUAL WINDOWS ===== //
    @import "_about";
    @import "_contact";
    @import "_home";
    @import "_portfolio";
}