// ===== WINDOW TOPBAR BUTTONS ===== //
.minimise { @media screen and (max-width: $mobile_width) { display: none !important; } }
.maximise { @media screen and (max-width: $mobile_width) { display: none !important; } }
.restore {
    @media screen and (max-width: $mobile_width) { display: none !important; }
    display: none;
}
.close {
    background-color: $danger-red;
    &:hover {
        @media screen and (min-width: $small_mobile_width) {
            background-color: darken($danger-red, 30%) !important;
        }
    }
}