// Colour scheme
// Lower number = darker colour
$primary-1: #0B132B;
$primary-2: #1C2541;
$primary-3: #3A506B;
$primary-4: #5BC0BE;
$primary-5: #6FFFE9;

$danger-red: #dc3545;

$grey: #6c757d;


// Variables
$mobile_width: 690px;
$small_mobile_width: 550px;